@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto";
    margin: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 24px;
}

h1, h2, h3, a {
    text-transform: uppercase;
}

/* CSS header */

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vh 0 2vh 0;
}

.logo {
    margin: 0 10%;
}

header nav {
    width: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    flex-wrap: nowrap;
    align-items: center;
    padding: 0;
    justify-content: space-evenly;
    gap: 2%;
}

header nav ul li a {
    color: black;
}

ul {
    list-style: none;
}

p, li{
    font-weight: 700;
}

/* CSS main */
/* CSS banner */

#banner {
    background-image: url(../img/photo-1556139943-4bdca53adf1e\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh 0;
}

.banner-text h1 {
    text-align: center;
    text-shadow: 0 0 10px grey;
}

.btn {
    background-color: #FF4676;
    color: white;
    padding: 2vh 2vw;
    border-radius: 5px;
}

/* CSS presentation */

#presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titre {
    text-align: center;
    margin-top: 10vh;
}

.description {
    display: flex;
    flex-direction: row;
}

.description-image {
    margin: 8vh 8vh 0 15vw;
}

.description-text h2 {
    width: 80%;
}

.description-text ul {
    list-style: "- ";
    padding-inline-start: 0;
}

.separation-image {
    margin: 10vh 0 10vh 0;
}

/* CSS methode */

#methodes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 20vw 0 20vw;
}

.methode-titre p:first-of-type {
    margin-bottom: 0;
}

.methode-titre p:last-of-type {
    margin-top: 0;
}

.btn-secondary {
    background-color: white;
    border: 1px solid #FF4676;
    padding: 2vh 2vw;
    border-radius: 5px;
    color: #FF4676;
    margin-bottom: 2vh;
    font-weight: 700;
}

.methode-liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10vh 20vh;
    padding: 0;
}

.methode-element {
    width: 20vw;

}

/* CSS accompagnements */

#accompagnements {
    text-align: center;
}

.accompagnement-titre {
    margin: 5vh 0;
}

.accompagnement-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 5vh;
}

.accompagnement-card {
    display: flex;
    flex-direction: column;
    width: 24%;
    height: 32vh;
    justify-content: space-between;
    align-items: center;
}

.accompagnement-card h3 {
    margin: 0;
}

.accompagnement-items .accompagnement-card:first-of-type h3:last-of-type::after {
    content: "";
    display: block;
    height: 2vh;
    background-color: #68D8EE;
    margin-top: -1rem;
}

.accompagnement-items .accompagnement-card:nth-child(2) h3:last-of-type::after {
    content: "";
    display: block;
    height: 2vh;
    background-color: #FFE17A;
    margin-top: -1rem
}

.accompagnement-items .accompagnement-card:last-of-type h3:last-of-type::after {
    content: "";
    display: block;
    height: 2vh;
    background-color: #DB7CF2;
    margin-top: -1rem
}

/* CSS No-regret */
.noregret {
    display: flex;
    gap: 3vw;
    text-align: center;
    justify-content: center;
    margin-top: 10vh;
}

.noregret-card {
    border: 2px solid #68D8EE;
    width: 25%;
    position: relative;
    padding: 5vh 2% 0;
}

.noregret-image img{
    position: absolute;
    top: -5vh;
    left: 50%;
    translate: -50%;
    z-index: 1;
}

/* CSS blog */

.blog {
    display: flex;
    margin: 10vh 14vw;
    border-bottom: 2px solid #68D8EE;
}

.blog-image {
    height: 20rem;
}

.blog-image img {
    height: 30vh;
}

.blog-texte {
    margin-left: 2vw;
    box-sizing: border-box;
    width: 100%;
}

.blog-texte p {
    margin-bottom: 4vh;
}

/* CSS footer */

#ends {
    background-color: grey;
    margin-bottom: 0;
}

.end {
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    align-items: center;
}

.end-logo {
    margin-left: 10%;
}

.end-logo img {
    height: 20vh;

}

.end-text {
    padding-left: 1vw;
    margin-left: 1vw;
    width: 20%;
    border-left: 2px solid black;
}

.credit ul {
    display: flex;
    justify-content: center;
    gap: 1vw;
    margin-bottom: 0;
    padding-bottom: 2vh;
}

.credit ul li:not(:last-child)::after {
    content: "";
    border: 1px solid black;
    margin-left: 2vh;
}

/* Responsive */

@media screen and (max-width: 768px) {
    
    h1 {
        font-size: 38px;
    }

    main * {
        padding:  2%;
    }
    
    /* header */

    header {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 2%;
        text-align: center;
    }
    
    .titre {
        margin: 0;
    }

    .titre h2 {
        margin: 0;
    }

    .separation-image {
        margin: 0;
    }

    /* presentation */

    #presentation {
        justify-content: center;
    }

    .description {
        flex-direction: column;
        justify-content: center;
    }

    .description-text {
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .description-text h3 {
        text-align: center;
    }

    .description-image {
        margin: 0;
    }

    .description-image img {
        width: 100%;

    }

    /* CSS methodes */

    #methodes {
    padding: 0;
    }

    .methode-liste {
        flex-direction: column;
        gap: 4vh;
    }
    
    .methode-element {
        width: 100%;
    }

    /* CSS accopagnements */

    .accompagnement-titre  {
        padding: 0;
    }

    .accompagnement-items {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 6vh;
    }

    .accompagnement-card {
        height: auto;
        width: auto;
    }

    .accompagnement-card h3 {
        font-size: 32px;
    }

    /* CSS no-regrets */

    .noregret {
        flex-direction: column;
        gap: 10vh;
    }
    
    .noregret-card {
        width: auto;
    }

    .accompagnement-card p {
        margin-top: 0;
    }

    /* CSS Blog */

    .blog {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    

    .blog-image {
        width: 90%;
        height: 90%;
    }

    .blog-image img{
        width: 100%;
        height: 100%;
    }

    .blog-texte * {
        margin: 0;
    }

    .btn-blog {
        padding: 2% 20vw;
    }

    /* CSS footer */

    .end {
        flex-direction: column;
        text-align: center;
    }

    .end-logo {
        margin: 0;
    }

    .end-text {
        margin: 0;
        border: none;
        width: inherit;
    }

    .credit ul{
        flex-direction: column;
        text-align: center;
        padding-left: 0;
    }
    .credit ul li:not(:last-child)::before {
        content: "";
        border: 1px solid black;
        margin-right: 2vh;
    }
    
}